.cet-menubar {
    display: flex;
    flex-shrink: 1;
    box-sizing: border-box;
    height: 30px;
    overflow: hidden;
    flex-wrap: wrap;

    &.bottom {
        order: 1;
        width: 100%;
        padding: 0 5px;
    }

    .menubar-menu-button {
        align-items: center;
        box-sizing: border-box;
        padding: 0px 8px;
        cursor: default;
        -webkit-app-region: no-drag;
        zoom: 1;
        white-space: nowrap;
        outline: 0;

        &.disabled {
            opacity: 0.4;
        }

        &:not(.disabled) {
            &:focus,
            &.open,
            &:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }
        }

        &:focus,
        &.open,
        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }

    .menubar-menu-container {
        position: absolute;
        display: block;
        left: 0px;
        opacity: 1;
        outline: 0;
        border: none;
        text-align: left;
        margin: 0 auto;
        padding: 4px 0;
        margin-left: 0;
        overflow-x: visible;
        overflow-y: visible;
        -webkit-overflow-scrolling: touch;
        justify-content: flex-end;
        white-space: nowrap;
        border-radius: 6px;
        backdrop-filter: blur(5px);
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
            0 3px 14px 2px rgba(0, 0, 0, 0.12);
        z-index: 99999;

        &::-webkit-scrollbar {
            width: 8px;
            height: 4px;
            cursor: pointer;
            background-color: rbga(0, 0, 0, 0);
        }

        &::-webkit-scrollbar-track {
            border: none;
            background-color: rbga(0, 0, 0, 0);
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: rgba(110, 110, 110, 0.2);
        }

        &:focus {
            outline: 0;
        }

        .action-item {
            padding: 0;
            transform: none;
            display: -ms-flexbox;
            display: flex;
            outline: none;

            &.active {
                transform: none;
            }

            &.disabled .action-menu-item {
                opacity: 0.4;
            }

            .submenu {
                position: absolute;
            }
        }

        .action-menu-item {
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            display: -ms-flexbox;
            display: flex;
            height: 2.5em;
            margin: 2px 5px;
            align-items: center;
            position: relative;
            border-radius: 6px;

            &:hover {
                background-color: rgba(0, 0, 0, 0.12);
            }
        }

        .action-label {
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            text-decoration: none;
            padding: 0 1em;
            background: none;
            font-size: 12px;
            line-height: 1;

            &:not(.separator) {
                display: inline-block;
                -webkit-box-sizing: border-box;
                -o-box-sizing: border-box;
                -moz-box-sizing: border-box;
                -ms-box-sizing: border-box;
                box-sizing: border-box;
                margin: 0;
                padding: 0 2em 0 1em;
            }

            &.separator {
                opacity: 0.1;
                font-size: inherit;
                margin: 1px 0;
                width: 100%;
                border-bottom: 1px solid transparent;

                &.text {
                    padding: 0.7em 1em 0.1em 1em;
                    font-weight: bold;
                    opacity: 1;
                }
            }

            &:hover {
                color: inherit;
            }
        }

        .keybinding {
            padding: 0 2em 0 1em;
        }

        .keybinding,
        .submenu-indicator {
            display: inline-block;
            -ms-flex: 2 1 auto;
            flex: 2 1 auto;
            padding: 0 3.1em 0 1em;
            text-align: right;
            font-size: 12px;
            line-height: 1;
        }

        .submenu-indicator {
            position: absolute;
            right: 8px;
            height: 14px;
            width: 14px;
            padding: 0;
        }

        .submenu-indicator,
        .menu-item-icon {
            img,
            svg {
                display: inherit;
                width: 100%;
                height: 100%;
            }
        }

        .menu-item-icon {
            width: 18px;
            height: 18px;
            margin: 0 0 0 0.8em;

            &.checkbox {
                visibility: hidden;

                &.checked {
                    visibility: visible;
                }
            }
        }
    }
}
