.cet-titlebar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    width: 100%;
    font-size: 13px;
    padding: 0 16px;
    overflow: hidden;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    zoom: 1;
    line-height: 22px;
    height: 22px;
    display: flex;
    z-index: 99999;
}
