body {
  margin: 0 !important;
  overflow: hidden !important;
}

/* Titlebar */
.cet-titlebar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 13px;
  box-sizing: border-box;
  padding: 0 16px;
  overflow: hidden;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  zoom: 1;
  width: 100%;
  height: 31px;
  line-height: 31px;
  z-index: 99999;
}

.cet-titlebar.cet-windows,
.cet-titlebar.cet-linux {
  padding: 0;
  height: 30px;
  line-height: 30px;
  justify-content: left;
  overflow: visible;
}

/* Shadow */
.cet-titlebar.cet-shadow {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

/* Drag region */
.cet-drag-region {
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-app-region: drag;
}

/* Icon */
.cet-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 30px;
  z-index: 99;
  overflow: hidden;
}

/* Title */
.cet-title {
  flex: 0 1 auto;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  zoom: 1;
}

/* Title alignment */
.cet-title-left {
  margin-left: 8px;
  margin-right: auto;
}

.cet-title-right {
  margin-left: auto;
  margin-right: 8px;
}

.cet-title-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Window controls */
.cet-window-controls {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
  position: relative;
  z-index: 99;
  -webkit-app-region: no-drag;
  height: 30px;
  font-family: initial !important;
  margin-left: auto;
}

.cet-control-icon {
  width: 46px;
}

.cet-control-icon:not(.inactive):hover {
  background-color: rgb(255 255 255 / 12%);
}

.cet-control-icon.inactive svg {
  opacity: 0.4;
}

.cet-control-close:not(.inactive):hover {
  background-color: rgba(232 17 35 / 90%) !important;
}

.cet-control-icon svg {
  width: 10px;
  height: -webkit-fill-available;
  fill: #eee;
  display: initial !important;
  vertical-align: unset !important;
}

/* Resizer */
.cet-resizer {
  -webkit-app-region: no-drag;
  position: absolute;
}

.cet-resizer.left {
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
}

.cet-resizer.top {
  top: 0;
  width: 100%;
  height: 6px;
}

/* Container */
.cet-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

/* MenuBar */
.cet-menubar {
  display: flex;
  flex-shrink: 1;
  box-sizing: border-box;
  overflow: hidden;
  flex-wrap: wrap;
  margin-right: 20px;
}

.cet-menubar.bottom {
  order: 1;
  width: 100%;
  padding: 0 5px 5px;
  margin-right: 0;
}

.cet-menubar.bottom .cet-menubar-menu-button {
  border-radius: 4px;
}

.cet-menubar.bottom .cet-menubar-menu-button .cet-menubar-menu-title {
  line-height: 26px;
}

.cet-menubar .cet-menubar-menu-button {
  box-sizing: border-box;
  padding: 0px 8px;
  height: 100%;
  cursor: default;
  zoom: 1;
  white-space: nowrap;
  -webkit-app-region: no-drag;
  outline: 0;
}

.cet-menubar .cet-menubar-menu-button .cet-menubar-menu-title {
  font-size: 12px;
}

.cet-menubar .cet-menubar-menu-button.disabled {
  opacity: 0.4;
}

.cet-menubar .cet-menubar-menu-button:not(.disabled):focus,
.cet-menubar .cet-menubar-menu-button:not(.disabled):hover,
.cet-menubar .cet-menubar-menu-button:not(.disabled).open {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Line 50 migrate design */